.searchTable {
    max-width: 70%;
}

.buttonAdd {
    font-size: 24px;
    font: bold;    
    border-radius: 50%;
    margin: 5px;
    padding: 0 7px;
    outline: none;
    border: none;
    cursor: pointer;
}
.buttonAdd:hover {
  background-color:rgb(106, 106, 218);  
  color: white;
}
.buttonAdd:active {
    background-color:rgb(17, 17, 104);  
    color: white;
}