.tableTitle_container {
    display: flex;
    margin: 20px auto 40px 13px;
}

.textAlign_center {
    text-align: center;
}

.tableTitle {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #475F7B;
    margin: 10px 20px;
    cursor: pointer;
}
.tableTitle:hover {
    color: #5A8DEE;
}

.tableTitle_active {
    color: #5A8DEE;
}

.firstStubCol {
    width: 45px;
}

.lastStubCol {
    width: 25px;
}

.imgRedLamp {
    height: 21px;
    border-radius: 50%;
    margin-top: 5px;
}

.table_cell_gameName {
    margin: 0;
}