.table {
    border-collapse: collapse;    
    margin: 10px 0;
    width: 50%;
}

.searchTable {
    max-width: 70%;
}

.videoTable {
    width: 100%;
}

.border-left {
    border-left: 0.5px solid #C7CFD6;
}
.border-right {
    border-right: 0.5px solid #C7CFD6;
}
.headRow {
    border-bottom: 0.5px solid #C7CFD6;
    border-top: 0.5px solid #C7CFD6;
}

.headCell {
    text-align: start;
}

.table_row {
    height: 56px;
}
.mainTableRow {
    cursor: pointer;
}
.mainTableRow:hover {
    background: #FAFBFB;
    border-radius: 4px;
}

.logoCollumn {
    width: 62px;
}

.table_cell {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #727E8C;
    padding: 5px 10px 5px;
    vertical-align: middle;
}

.cellContainer {
    display: flex;
    flex-direction: column;
}

.table_name {
    margin: auto;
}

.table_img {
    max-height: 40px;
    border-radius: 50%;
    margin: 0;
}

.buttonAdd {
    font-size: 24px;
    font: bold;    
    border-radius: 50%;
    margin: 5px;
    padding: 0 7px;
    outline: none;
    border: none;
    cursor: pointer;
}
.buttonAdd:hover {
  background-color:rgb(106, 106, 218);  
  color: white;
}
.buttonAdd:active {
    background-color:rgb(17, 17, 104);  
    color: white;
}