.table {
    border: 1px solid black;
    border-collapse: collapse;    
    margin: 10px auto;
}

.table_cell {
    border: 1px solid black;
    text-align: center;
    padding: 1px 6px;
}

.table_nameContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table_name {
    margin: auto;
}

.table_img {
    max-height: 40px;
    border-radius: 50%;
    margin: 5px;
}

.table_onAir {
    font-size: 14px;
    color: white;
    font: bold;
    background-color: red;
    border-radius: 4px;
    padding: 0 3px;
    margin: 5px;
}