.App {
  text-align: center;
}

.serviceName {
  background-size: cover;
  background-color: green;
  color: white;
  padding-bottom: 7px;
  margin: 0 auto 10px
}

.btn_getData {
  background-size: cover;
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 5px;
}