.App {
  margin: 80px 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.mainTable {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}