body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F4F4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.defaultBtn {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  vertical-align: center;
  background-color: #E2ECFF;
  color: #5A8DEE;
  border: none;
}
.defaultBtn:hover {
  background-color: #5A8DEE;
  color: #FFFFFF;
}

.defaultLink {
  color:#5A8DEE;
}